streamlit
plotly
pandas
pymongo
google-generativeai
certifi
requests
streamlit
google-generativeai
geopy
timezonefinder
jyotishyamitra
pytz
pyswisseph
plotly
pandas
pymongo
dnspython
certifi
streamlit-folium
